div{
    width:100px;height:100px;background-color: burlywood;position:relative;transiform:rotate(0deg);
    animation:anim 5s infinite alternate;
    -webkit-animation: anim 5s infinite alternate;
}

@keyframes anim{
    0%{background-color: burlywood;left:0px;top:0px;transiform:rotate(0deg);}
    25%{background-color: aqua;left:200px;top:0px;transiform:rotate(90deg);}
    50%{background-color: aquamarine;left:200px;top:200px;transiform:rotate(180deg);}
    75%{background-color: darkgoldenrod;left:0px;top:200px;transiform:rotate(270deg);}
    100%{background-color:burlywood;left:0px;top:0px;transiform:rotate(360deg);}
}
@-webkit-keyframes anim{
            0%{background-color: burlywood;left:0px;top:0px;-webkit-transiform:rotate(0deg);}
            25%{background-color: aqua;left:200px;top:0px;-webkit-transiform:rotate(90deg);}
            50%{background-color: aquamarine;left:200px;top:200px;-webkit-transiform:rotate(180deg);}
            75%{background-color: darkgoldenrod;left:0px;top:200px;-webkit-transiform:rotate(270deg);}
            100%{background-color:burlywood;left:0px;top:0px;-webkit-transiform:rotate(360deg);}

        }